
/* Для показа выпадающего меню при наведении */
#navbarDropdown:hover .dropdown-menu {
    display: block;
}

.head{

    height: 100px;
    background-image: url("../../../OSPanel/domains/sitesnt2.loc/Amazing3.jpg") ;
    background-position: top left;

}

#news{
    border-bottom: darkgray solid 1px;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.footer{
    height: 200px;
}

#footer_img{
    width: 100%;

}

h5{
    color: darkred;
    background-color: lightgrey;
}


.logo-h2{
margin: 0;
}

.span-logo{
    font-size: 16px;
    display: block;
}

@media (max-width: 1000px) {
    .logo-h2{
        font-size: 16px;

    }

    .span-logo{
        font-size: 12px;
    }
}
