

body{

}

.head{
    background-color: #121F12;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#news{
    border-bottom: darkgray solid 1px;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.footer{
    height: 4px;
    background-color: #29B638;
}

#footer_img{
    width: 100%;
}

h5{
    color: darkred;
    background-color: gainsboro;
}


.logo-h2{
margin: 0;
    color: white;
    font-weight: bold;
}

.span-logo{
    font-size: 16px;
    display: block;
}



ul li{
    margin-bottom: 1px;
}

.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: white;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item{

}

.head-head{
    margin-top: 10px;
    background-color: #29B638;
    height: 40px;
    width: 100%;
    border-top-left-radius:7px ;
    border-top-right-radius:7px ;
    align-items: center;
    padding: 7px;
}

.menu{
   display: block;
    list-style-type: none;
    column-count: 4;
}

@media (max-width: 768px) {
    .logo-h2 {
        font-size: 16px;
    }

    .span-logo {
        font-size: 12px;
    }

    .nav {
        font-size: 12px;
    }

    .nav-link {
        padding: 0;
    }

    .bus{
        font-size: 14px;
    }

    .water{
        font-size: 14px;
    }

    h5{
        font-size: 14px;
    }

    .head-head{
        display: none;
    }

    .menu{
        font-size: 14px;
        display: block;
        list-style-type: none;
        column-count: 3;
    }

    .nav-item{

    }

    .head{
        height: 150px;
    }
}

