

body{
    background-color: #192919;
}



.head{
    height: 100px;
    background-image: url("../../../OSPanel/domains/sitesnt2.loc/Amazing3.jpg") ;
    background-position: top left;
}

#news{
    border-bottom: darkgray solid 1px;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.footer{
    height: 200px;
}

#footer_img{
    width: 100%;
}

h5{
    color: #2ab939;
}

p{
    color:white;
}
.logo-h2{
margin: 0;
}

.span-logo{
    font-size: 16px;
    display: block;
}

@media (max-width: 1000px) {
    .logo-h2 {
        font-size: 16px;

    }

    .span-logo {
        font-size: 12px;
    }

    .nav {
        font-size: 12px;
    }

    .nav-link {
        padding: 0;
    }

    .bus{
        font-size: 12px;
    }

    .water{
        font-size: 12px;
    }

    h5{
        font-size: 12px;
    }
}


ul li{
    margin-bottom: 1px;
}

.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: white;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.head-head{
    margin-top: 10px;
    background-color: #29B638;
    height: 40px;
    width: 100%;
    border-top-left-radius:7px ;
    border-top-right-radius:7px ;
    align-items: center;
    padding: 7px;
}


.footer{
  height: 120px;
    background-image: url("./images/footer.jpg");
}

.bus{
    color: white;
}

.nav{
    display: flex;
}

.nav-item{

}

.nav-link{
    font-size: 18px;
    color: #dddddd;
}
